#trafficSourcesWrapper {
	width:100%;
	max-width:600px;
	margin:0 auto;
	text-align:left;
	display:block;
}
#trafficSourcesChart {
	margin:5px auto;
	width:90%;
	position:relative;
}
#trafficSourcesChart div,#trafficSourcesChart div span {
	height:20px;	
}
#trafficSourcesChart div .percent {
	width:50px;
	position: absolute;
	top:0;
	right:-40px;
	text-align:right;
}
#trafficSourcesChart div .title {
	width:30px;
	position: absolute;
	top:0;
	left:0px;
	text-align:right;
}
#trafficSourcesChart div {
	position: absolute;
	display:block;
	height:20px;
	width:80%;
	margin:0 0 5px 5px;
	text-align:left;
	max-width:600px;
}
#trafficSourcesChart div .bar {
	position: absolute;
	width:0;
	top:0;
	left:0px;
}
.red .bar {
	background:red;
	opacity: .4; 
	filter:Alpha(Opacity=40);
}
.blue .bar {
	background:blue;
}
.yellow .bar {
	background:yellow;
}
.orange .bar {
	background:orange;
}
.purple .bar {
	background:purple;
}
