<section id="trafficSourcesWrapper">	

	<div id="trafficSourcesChart">
		<div title="" index="0" value="" class="red"><span class="title"></span><span class="bar"></span><span class="percent"></span></div>
		<div title="" index="1" value="" class="red"><span class="title"></span><span class="bar"></span><span class="percent"></span></div>
		<div title="" index="2" value="" class="red"><span class="title"></span><span class="bar"></span><span class="percent"></span></div>
		<div title="" index="3" value="" class="red"><span class="title"></span><span class="bar"></span><span class="percent"></span></div>
		<div title="" index="4" value="" class="red"><span class="title"></span><span class="bar"></span><span class="percent"></span></div>
	</div>
	
</section>
<script type="text/javascript">
  $(document).ready(function () {
    require('piwik/TrafficSources').initSimpleRealtimeTrafficSourcesWidget({{ refreshInterval }});
  });
</script>
