<div class="tsp-wrapper">
	<div id="tsp-placeholder" class="tsp" style="width:600px; height:300px;"></div>
</div>
<span is="textspan"></span>
		
<script type="text/javascript">
  $(document).ready(function () {
    require('piwik/TrafficSourcesProgression').initTrafficSourcesProgression({{ refreshInterval }});
  });
</script>
